.env
**/writable
# Ignore all files in the writable directory
**/vendor
# Ignore all files in the vendor directory
**/composer.**
# Ignore all changes in the public asset folders
**/public/users
**/public/campaigns
**/public/students